<form method="post">
    <input name="issue">
    <button>Создать задачу</button>
</form>

<table>
    <thead>
    <tr>
        <th>Задачи</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issues}">
        <td>
            <a th:text="${issue.key}" th:href="|/projects/${projectKey}/issues/${issue.key}|"></a>
            <span th:text="${issue.summary}"></span>
        </td>
        <td th:text="${issue.status.displayName}">
    </tr>
    </tbody>
</table>
