<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${issue.number == null ? 'Создать задачу' : issue.key + ' ' + issue.summary}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.8/css/bootstrap.min.css">
</head>
<body class="m-3">
<a th:href="|/projects/${issue.project.key}/issues|" class="btn btn-primary">Назад</a>

<form th:action="${'/projects/' + issue.project.key + '/issues' + (issue.number == null ? '' : '/' + issue.key)}"
      method="post" autocomplete="off" class="form-group">
    <div class="d-flex">
        <h1><label for="summary" th:if="${issue.number}" th:text="${issue.key}"></label></h1>
        <select name="type" class="form-select w-auto">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type.displayName}"
                    th:selected="${type == issue.type}">
        </select>
        <input name="summary" id="summary" th:value="${issue.summary}" placeholder="Тема" class="form-control">
        <select name="status" class="form-select w-auto">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status.displayName}"
                    th:selected="${status == issue.status}">
        </select>
        <button class="btn btn-primary">Сохранить</button>
    </div>
    <textarea name="description" th:text="${issue.description}" placeholder="Описание" class="form-control"></textarea>
</form>
</body>
</html>
