<a th:href="|/projects/${issue.project.key}/issues|">Назад</a>

<form method="post" autocomplete="off">
    <div style="display: flex">
        <label for="summary" th:text="${issue.key}"></label>
        <input name="summary" id="summary" th:value="${issue.summary}" placeholder="Тема" style="flex: 1">
        <select name="status">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status.displayName}"
                    th:selected="${status == issue.status}">
        </select>
        <button>Сохранить</button>
    </div>
    <textarea name="description" th:text="${issue.description}" placeholder="Описание" style="width: 100%"></textarea>
</form>
