<style>
    th, td {
        border: 1px solid black;
    }
</style>

<a href="/projects">Назад</a>

<a th:href="|/projects/${projectKey}/issues/new|">Создать задачу</a>

<table style="border-collapse: collapse">
    <thead>
    <tr>
        <th>Задачи</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issues}">
        <td>
            <a th:text="${issue.key}" th:href="|/projects/${projectKey}/issues/${issue.key}|"></a>
            <span th:text="${issue.summary}"></span>
        </td>
        <td th:text="${issue.status.displayName}">
    </tr>
    </tbody>
</table>
